doctype html
html
  head
    title Sahil Dance Academy
    block script 
    block style 
  body
    nav#navbar 
        ul
            div#logo
                img(src=" /static/img/3.png", alt="logo")
                | SDA
            li #[a(href='/') Home]
            li #[a(href='/') about]
            li #[a(href='/') Service]
            li #[a(href='/contact') Contact Us]
    block content  
    footer#footer
        |Copyright@Sahilarya53@gmail.com